.idea
ReportDesigner/obj
src/ReportDesigner/obj
.vs
src/ReportDesigner/bin
tests/**/bin
tests/**/obj
tests/ReportDesigner.Tests/bin/Debug/net10.0/.msCoverageSourceRootsMapping_ReportDesigner.Tests
tests/ReportDesigner.Tests/obj/project.assets.json
tests/ReportDesigner.Tests/obj/project.nuget.cache
tests/ReportDesigner.Tests/obj/ReportDesigner.Tests.csproj.nuget.dgspec.json
tests/ReportDesigner.Tests/obj/ReportDesigner.Tests.csproj.nuget.g.props
tests/ReportDesigner.Tests/obj/ReportDesigner.Tests.csproj.nuget.g.targets
tests/ReportDesigner.Tests/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
tests/ReportDesigner.Tests/obj/Debug/net10.0/ReportDesigner.Tests.AssemblyInfo.cs
tests/ReportDesigner.Tests/obj/Debug/net10.0/ReportDesigner.Tests.AssemblyInfoInputs.cache
tests/ReportDesigner.Tests/obj/Debug/net10.0/ReportDesigner.Tests.assets.cache
tests/ReportDesigner.Tests/obj/Debug/net10.0/ReportDesigner.Tests.csproj.AssemblyReference.cache
tests/ReportDesigner.Tests/obj/Debug/net10.0/ReportDesigner.Tests.csproj.FileListAbsolute.txt
tests/ReportDesigner.Tests/obj/Debug/net10.0/ReportDesigner.Tests.GeneratedMSBuildEditorConfig.editorconfig
tests/ReportDesigner.Tests/obj/Debug/net10.0/ReportDesigner.Tests.GlobalUsings.g.cs
tests/ReportDesigner.Tests/obj/Debug/net10.0/Avalonia/Resources.Inputs.cache
